<!DOCTYPE html>

<html>
    <head>
        <title>AngularJS</title>
        <meta name="viewport" content="width=device-width" />
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-route.js"></script>
        <script src="~/Scripts/app/app.js"></script>
        <script src="~/Scripts/app/HelloController.js"></script>
    </head>
    <body ng-app="myAngular">
        <div>
            @RenderBody()
        </div>
    </body>
</html>
